.idea
/venv/
/cember.mp4
/denemeler/arayuz/cember.mp4
/denemeler/tf/frames/
/denemeler/tf/Yolo_mark-master/
/denemeler/camera/logs/
/denemeler/image_processing/img/
/denemeler/image_processing/video/
/denemeler/image_processing/img_crop/
/logs/
/denemeler/image_processing/BBox-Label-Tool-multi-class/
